@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

* {
    font-family: 'Assistant', sans-serif;
}

body {
    min-width: 500px;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    top: -12px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: unset;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: unset;
}

.ck-editor__editable_inline {
    min-height: 500px;
    max-height: 500px;
}

#g-signin2 > div {
    top: -14px;
}

.arch-noteslist-placeholder-card > div.ant-card-body {
    display: none;
}
