@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.ck-editor__editable_inline {
    min-height: 470px;
    max-height: 470px;
}

.arch-noteslist-placeholder-card > div.ant-card-body {
    display: none;
}

#arch-note-content-saving-loader {
    position: absolute;
    top: 13%;
    left: 88%;
    z-index: 1;
}

#arch-note-content-saving-loader > span {
    margin-top: -5px;
    margin-left: 6px;
}