.header {
    height: 40px;
}

.level1Layout {
    background-color: white;
}

.level2Layout {
    height: 570px;
    background-color: white;
    margin: 10px;
}

.level3Layout {
    background-color: white;
    height: 570px;
}

.logo {
    height: 52px;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -12px;
}

.logoTxt {
    color: white;
    font-weight: bold;
}

.rightMenuItems {
    float: right;
    height: 40px;
}

.welcomeText {
    max-width: 220px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.leftMenuItems {
    float: left;
    height: 40px;
}

@media only screen and (max-width: 610px) {
    .leftMenuItems {
        display: none;
    }
}

.sider {
    height: 100%;
    margin-right: 10px;
}

.editorContent {
    background-color: white;
}

.footer {
    text-align: center;
    width: 99%;
    font-size: 0.9em;
    background-color: white;
}

.savingLoader {
    margin-right: -25px;
}

