.header {
    height: 40px;
}

.level1Layout {
    background-color: white;
}

.level2Layout {
    height: 570px;
    background-color: white;
    margin: 10px;
}

.level3Layout {
    background-color: white;
    height: 570px;
}

.logo {
    height: 52px;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -12px;
}

.rightMenuItems {
    float: right;
    height: 40px;
}

.sider {
    height: 100%;
    margin-right: 10px;
}

.editorContent {
    background-color: white;
}

.footer {
    text-align: center;
    width: 99%;
    font-size: 0.9em;
    background-color: white;
}

.savingLoader {
    position: absolute;
    top: 9.5%;
    left: 92%;
    z-index: 1;
}

.savingLoader > span {
    margin-top: -5px;
    margin-left: 6px;
}

